#header-search-field{
  display: ruby-base-container; 
  font-size: 20px; 
  width: 580px;
}

body{
    font-family: 'Oxygen';
}

input [type=text]{
    width: 50%;
}
input [type=text]:focus{
    width: 100%;
}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.header-logo{
  margin-left: 2%; 
  float: left;
}

.header-icons{
  margin-right: 15px;
}

.four-icons{
  display: -webkit-inline-box; 
  float: right; 
  margin-top: -10px;
}

.searchbar{
  margin-left: 30%; 
  max-width: fit-content;
}

.block-search{
  width: 650px;
}

.block-search-form{
  margin-top: 20px;
}

.search-image{
  width:40px; 
  color: rgb(73, 73, 73); 
  float: right; 
  margin-top: -8px;
}

.dot{
    position: relative;
}

.dot:before{
    content: '•';
    position: absolute;
    right: 1px;
    top: 20px;
    color: rgb(49, 53, 53);
}

.dot_white{
    position: relative;
}

.dot_white:before{
    content: '•';
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
}

  .dropbtn {
    background-color: rgb(222,222,222);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -35px;
    background-color: #7D7C7C;
    min-width: 160px;
    z-index: 1;
    color: white;
  }

  .moda{
      width: 1616px;
  }
  
  .casa {
     margin-left: -176px;
     width: 1617px;
  }

  .eletrodomesticos{
      margin-left: -301px;
      width: 1617px;
  }

  .subcategory{
      color:white;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rbg(222,222,222);}

  