#header-search-field{
  display: ruby-base-container; 
  font-size: 20px; 
  width: 580px;
}

body{
    font-family: 'Oxygen';
}

input [type=text]{
    width: 50%;
}
input [type=text]:focus{
    width: 100%;
}
.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}

.header-logo{
  margin-left: 2%; 
  float: left;
}

.header-icons{
  margin-right: 15px;
}

.four-icons{
  display: -webkit-inline-box; 
  float: right; 
  margin-top: -10px;
}

.searchbar{
  margin-left: 30%; 
  max-width: fit-content;
}

.searchbar-dropdown{
  width: 543px;
}

.block-search{
  width: 650px;
}

.block-search-dropdown{
  width: 530px;
}


.block-search-form{
  margin-top: 20px;
}

.search-image{
  width:40px; 
  color: rgb(73, 73, 73); 
  float: right; 
  margin-top: -8px;
}

.search-image-dropdown{
  width:28px; 
  color: rgb(73, 73, 73); 
  float: right;
  margin-top: 10px;
  margin-right: -5px; 
}

.dot{
    position: relative;
}

.dot:before{
    content: '•';
    position: absolute;
    right: 1px;
    top: 20px;
    color: rgb(49, 53, 53);
}

.dot_white{
    position: relative;
}

.dot_white:before{
    content: '•';
    position: absolute;
    right: 20px;
    top: 15px;
    color: white;
}

  .dropbtn {
    background-color: rgb(222,222,222);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -35px;
    background-color: #7D7C7C;
    min-width: 160px;
    z-index: 1;
    color: white;
  }

  .moda{
      width: 1516px;
  }
  
  .casa {
     margin-left: -166px;
     width: 1516px;
  }

  .eletrodomesticos{
      margin-left: -283px;
      width: 1516px;
  }

  .subcategory{
      color:white;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rbg(222,222,222);}

  
  .grid-container-blue {
    display: grid;
    grid-template-columns: 1 1 6 7;
    grid-gap: 2px;
    background-color: #c7c7c7;
    padding: 2px;
  }
  
  .grid-container-blue > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
  }

  .item1 {
    grid-area: 1 / 1 / span 4 / span 3;
  }
  .item2 {
    grid-area: 1 / 4 / span 4 / span 3;
  }
  .item3 {
    grid-area: 1 / 7 / span 6 / span 1;
  }
  .item4{
    grid-area: 5 / 1 / span 2 / span 6;
  }
  
  /*Inicio do estilo underline from left */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #000000;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*Fim do estilo underline from left */

.plusButtonImage{
  width: 20px;
  float: right;
  margin-right: 10px;
}

.plusButton{
  float: right;
  height: 20px;
  width: 40px;
  margin: -40px; 
  margin-right: 5px;
}



.button{
  background-color: rgb(56,56,56);
  border: none;
  color: rgb(255, 255, 255);
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 6px;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.navbar-brand{
  margin-left: -10px;
  margin-right: -10px;
}

.col-12{
  width: 100%;
}